
{% extends "base\base.html" %}
{% load static %}
{% block body %}
        <!-- /Header -->
        <!-- Slider -->
        <section class="tf-slideshow slideshow-effect slider-effect-fade style-padding position-relative">
            <div dir="ltr" class="swiper tf-sw-effect">
                <div class="swiper-wrapper">
                    <div class="swiper-slide height-auto" lazy="true">
                        <div class="slider-effect wrap-slider h-100">
                            <div class="content-left bg-dark-green-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="box-content">
                                                <h2 class="heading fade-item fade-item-1 text_white">Strolling <br> into Parenthood</h2>
                                                <p class="desc fade-item fade-item-2 fw-5 text_white">Effortless comfort and style for your little one</p>
                                                <div class="fade-item fade-item-3">
                                                    <a href="shop-collection-list.html" class="tf-btn btn-outline-light btn-xl radius-60"><span>Shop collection</span><i class="icon icon-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-slider">
                                <img class="lazyload" data-src="/statc/images/slider/slider-stroller-01.jpg" src="/statc/images/slider/slider-stroller-01.jpg" alt="fashion-slideshow">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide height-auto" lazy="true">
                        <div class="slider-effect wrap-slider h-100">
                            <div class="content-left bg-dark-green-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="box-content">
                                                <h2 class="heading fade-item fade-item-1 text_white">Effortless Elegance<br> on Wheels</h2>
                                                <p class="desc fade-item fade-item-2 fw-5 text_white">Transform every outing into an adventure</p>
                                                <div class="fade-item fade-item-3">
                                                    <a href="shop-collection-list.html" class="tf-btn btn-outline-light btn-xl radius-60"><span>Shop collection</span><i class="icon icon-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-slider">
                                <img class="lazyload" data-src="/statc/images/slider/slider-stroller-02.jpg" src="/statc/images/slider/slider-stroller-02.jpg" alt="fashion-slideshow">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide height-auto" lazy="true">
                        <div class="slider-effect wrap-slider h-100">
                            <div class="content-left bg-dark-green-2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="box-content">
                                                <h2 class="heading fade-item fade-item-1 text_white">Simply <br>Chic Strolls</h2>
                                                <p class="desc fade-item fade-item-2 fw-5 text_white">Experience the convenience of intelligent design</p>
                                                <div class="fade-item fade-item-3">
                                                    <a href="shop-collection-list.html" class="tf-btn btn-outline-light btn-xl radius-60"><span>Shop collection</span><i class="icon icon-arrow-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="img-slider">
                                <img class="lazyload" data-src="/statc/images/slider/slider-stroller-03.jpg" src="/statc/images/slider/slider-stroller-03.jpg" alt="fashion-slideshow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-pagination">
                <div class="container">
                    <div class="sw-dots dots-fill-white large sw-pagination-slider"></div>
                </div>
            </div>
        </section>
        <!-- /Slider -->
        <!-- Iconbox -->
        <section class="line">
            <div class="container">
                <div class="wrap-spacing-iconbox">
                    <div dir="ltr" class="swiper tf-sw-recent" data-preview="3" data-tablet="3" data-mobile="1" data-space-lg="30" data-space-md="30" data-space="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="tf-icon-box-v2 justify-content-end">
                                    <span class="icon icon-shipping"></span>
                                    <div class="title">Free Shipping on Orders Over $120</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tf-icon-box-v2 justify-content-center">
                                    <span class="icon icon-trial"></span>
                                    <div class="title">100-days risk-free trial</div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tf-icon-box-v2">
                                    <span class="icon icon-warranty"></span>
                                    <div class="title">Free 4-years warranty</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sw-dots style-2 sw-pagination-recent justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Iconbox -->
        <!-- Categories -->
        <section class="flat-spacing-5">
            <div class="container">
                <div class="flat-title flex-row justify-content-between px-0">
                    <span class="title wow fadeInUp" data-wow-delay="0s">Shop by categories</span>
                    <div class="box-sw-navigation">
                        <div class="nav-sw round nav-next-product nav-next-slider"><span class="icon icon-arrow-left"></span></div>
                        <div class="nav-sw round nav-prev-product nav-prev-slider"><span class="icon icon-arrow-right"></span></div>
                    </div>
                </div>
            </div>
            <div class="container-full slider-layout-right">
                <div dir="ltr" class="swiper tf-sw-product-sell sw-wrapper-right" data-preview="4.6" data-tablet="2.6" data-mobile="1.6" data-space-lg="30" data-space-md="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v3 hover-img">
                                <a href="shop-collection-sub.html" class="collection-image img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/cate-stroller-1.jpg" src="/statc/images/collections/cate-stroller-1.jpg" alt="collection-img">
                                    <span class="box-icon">
                                        <i class="icon-icon icon-arrow1-top-left"></i>
                                    </span>
                                </a>
                                <div class="collection-content">
                                    <a href="shop-collection-sub.html" class="link title fw-5">Newborn strollers</a>
                                    <div class="count">5 items</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v3 hover-img">
                                <a href="shop-collection-sub.html" class="collection-image img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/cate-stroller-2.jpg" src="/statc/images/collections/cate-stroller-2.jpg" alt="collection-img">
                                    <span class="box-icon">
                                        <i class="icon-icon icon-arrow1-top-left"></i>
                                    </span>
                                </a>
                                <div class="collection-content">
                                    <a href="shop-collection-sub.html" class="link title fw-5">Compact strollers</a>
                                    <div class="count">5 items</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v3 hover-img">
                                <a href="shop-collection-sub.html" class="collection-image img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/cate-stroller-3.jpg" src="/statc/images/collections/cate-stroller-3.jpg" alt="collection-img">
                                    <span class="box-icon">
                                        <i class="icon-icon icon-arrow1-top-left"></i>
                                    </span>
                                </a>
                                <div class="collection-content">
                                    <a href="shop-collection-sub.html" class="link title fw-5">Double strollers</a>
                                    <div class="count">5 items</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v3 hover-img">
                                <a href="shop-collection-sub.html" class="collection-image img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/cate-stroller-4.jpg" src="/statc/images/collections/cate-stroller-4.jpg" alt="collection-img">
                                    <span class="box-icon">
                                        <i class="icon-icon icon-arrow1-top-left"></i>
                                    </span>
                                </a>
                                <div class="collection-content">
                                    <a href="shop-collection-sub.html" class="link title fw-5">Accessories</a>
                                    <div class="count">5 items</div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v3 hover-img">
                                <a href="shop-collection-sub.html" class="collection-image img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/cate-stroller-5.jpg" src="/statc/images/collections/cate-stroller-5.jpg" alt="collection-img">
                                    <span class="box-icon">
                                        <i class="icon-icon icon-arrow1-top-left"></i>
                                    </span>
                                </a>
                                <div class="collection-content">
                                    <a href="shop-collection-sub.html" class="link title fw-5">Car seats</a>
                                    <div class="count">5 items</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Categories -->
        <!-- Banner Collection -->
        <section class="flat-spacing-5 pt_0">
            <div class="container">
                <div dir="ltr" class="swiper tf-sw-collection" data-preview="2" data-tablet="2" data-mobile="1.4" data-space-lg="30" data-space-md="30" data-space="15" data-loop="false" data-auto-play="false">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v4 style-2 style-3 hover-img">
                                <div class="collection-inner">
                                    <a href="shop-collection-sub.html" class="collection-image img-style radius-10 o-hidden">
                                        <img class="lazyload" data-src="/statc/images/collections/banner-stroller-1.jpg" src="/statc/images/collections/banner-stroller-1.jpg" alt="collection-img">
                                    </a>
                                    <div class="collection-content text-left wow fadeInUp" data-wow-delay="0s">
                                        <p class="subheading text-white">NEW COLLECTION</p>
                                        <h5 class="heading text-white">Find your <br>perfect stroller</h5>
                                        <p class="subtext text-white">New timeless colors, here to stay</p>
                                        <a href="shop-collection-sub.html" class="tf-btn style-3 fw-6 btn-light-icon radius-60 animate-hover-btn"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="collection-item-v4 style-2 style-3 hover-img">
                                <div class="collection-inner">
                                    <a href="shop-collection-sub.html" class="collection-image img-style radius-10 o-hidden">
                                        <img class="lazyload" data-src="/statc/images/collections/banner-stroller-2.jpg" src="/statc/images/collections/banner-stroller-2.jpg" alt="collection-img">
                                    </a>
                                    <div class="collection-content text-left wow fadeInUp" data-wow-delay="0s">
                                        <p class="subheading text-white">30% OFF STROLLER</p>
                                        <h5 class="heading text-white">Embrace <br>the season</h5>
                                        <p class="subtext text-white">From footmuffs to seat liners, be ready for any weather.</p>
                                        <a href="shop-collection-sub.html" class="tf-btn style-3 fw-6 btn-light-icon radius-60 animate-hover-btn"><span>Shop now</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- /Banner Collection -->
        <!-- Brand -->
        <section class="flat-spacing-19 bg_grey-9">
            <div class="container">
                <div class="flat-title">
                    <span class="title wow fadeInUp" data-wow-delay="0s">Shop by brands</span>
                </div>
                <div dir="ltr" class="swiper tf-sw-brand" data-loop="false" data-play="false" data-preview="6" data-tablet="3" data-mobile="2" data-space-lg="0" data-space-md="0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand-item bg_white">
                                <img class="lazyload" data-src="/statc/images/brand/brand-01.png" src="/statc/images/brand/brand-01.png" alt="image-brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item bg_white">
                                <img class="lazyload" data-src="/statc/images/brand/brand-02.png" src="/statc/images/brand/brand-02.png" alt="image-brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item bg_white">
                                <img class="lazyload" data-src="/statc/images/brand/brand-03.png" src="/statc/images/brand/brand-03.png" alt="image-brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item bg_white">
                                <img class="lazyload" data-src="/statc/images/brand/brand-04.png" src="/statc/images/brand/brand-04.png" alt="image-brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item bg_white">
                                <img class="lazyload" data-src="/statc/images/brand/brand-05.png" src="/statc/images/brand/brand-05.png" alt="image-brand">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-item bg_white">
                                <img class="lazyload" data-src="/statc/images/brand/brand-06.png" src="/statc/images/brand/brand-06.png" alt="image-brand">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sw-dots style-2 sw-pagination-brand justify-content-center"></div>
            </div>
        </section>
        <!-- /Brand -->
        <!-- Best Seller -->
        <section class="flat-spacing-15">
            <div class="container">
                <div class="flat-title flex-row justify-content-between px-0">
                    <span class="title wow fadeInUp" data-wow-delay="0s">Best selling strollers</span>
                    <div class="box-sw-navigation">
                        <div class="nav-sw round nav-next-sell-1 nav-next-slider"><span class="icon icon-arrow1-left"></span></div>
                        <div class="nav-sw round nav-prev-sell-1 nav-prev-slider"><span class="icon icon-arrow1-right"></span></div>
                    </div>
                </div>
                <div dir="ltr" class="swiper tf-sw-product-sell-1 wrap-sw-over"  data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="15" data-pagination="1" data-pagination-md="1" data-pagination-lg="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" lazy="true">
                            <div class="card-product">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img class="lazyload img-product" data-src="/statc/images/products/stroller-baby-brown.jpg" src="/statc/images/products/stroller-baby-brown.jpg" alt="image-product">
                                        <img class="lazyload img-hover" data-src="/statc/images/products/stroller-baby-black.jpg" src="/statc/images/products/stroller-baby-black.jpg" alt="image-product">
                                    </a>
                                    <div class="list-product-btn absolute-2">
                                        <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                            <span class="icon icon-bag"></span>
                                            <span class="tooltip">Quick Add</span>
                                        </a>
                                        <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </a>
                                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                            <span class="icon icon-compare"></span>
                                            <span class="tooltip">Add to Compare</span>
                                            <span class="icon icon-check"></span>
                                        </a>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Baby Stroller with Ride-Along Board</a>
                                    <span class="price">$950.00</span>
                                    <ul class="list-color-product">
                                        <li class="list-color-item color-swatch active">
                                            <span class="tooltip">Pastel Brown</span>
                                            <span class="swatch-value bg_pastel-brown"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-brown.jpg" src="/statc/images/products/stroller-baby-brown.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Black</span>
                                            <span class="swatch-value bg_dark"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-black.jpg" src="/statc/images/products/stroller-baby-black.jpg" alt="image-product">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="card-product">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img class="lazyload img-product" data-src="/statc/images/products/stroller-baby-black2.jpg" src="/statc/images/products/stroller-baby-black2.jpg" alt="image-product">
                                        <img class="lazyload img-hover" data-src="/statc/images/products/stroller-baby-black2.jpg" src="/statc/images/products/stroller-baby-black2.jpg" alt="image-product">
                                    </a>
                                    <div class="list-product-btn absolute-2">
                                        <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                            <span class="icon icon-bag"></span>
                                            <span class="tooltip">Quick Add</span>
                                        </a>
                                        <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </a>
                                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                            <span class="icon icon-compare"></span>
                                            <span class="tooltip">Add to Compare</span>
                                            <span class="icon icon-check"></span>
                                        </a>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Racing Tricycle Baby Stroller</a>
                                    <span class="price">$300.00</span>
                                    <ul class="list-color-product">
                                        <li class="list-color-item color-swatch active">
                                            <span class="tooltip">Black</span>
                                            <span class="swatch-value bg_dark"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-black2.jpg" src="/statc/images/products/stroller-baby-black2.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Dark Green</span>
                                            <span class="swatch-value bg_dark-green"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-darkgreen.jpg" src="/statc/images/products/stroller-baby-darkgreen.jpg" alt="image-product">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="card-product">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img class="lazyload img-product" data-src="/statc/images/products/stroller-baby-black3.jpg" src="/statc/images/products/stroller-baby-black3.jpg" alt="image-product">
                                        <img class="lazyload img-hover" data-src="/statc/images/products/stroller-baby-black3.jpg" src="/statc/images/products/stroller-baby-black3.jpg" alt="image-product">
                                    </a>
                                    <div class="list-product-btn absolute-2">
                                        <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                            <span class="icon icon-bag"></span>
                                            <span class="tooltip">Quick Add</span>
                                        </a>
                                        <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </a>
                                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                            <span class="icon icon-compare"></span>
                                            <span class="tooltip">Add to Compare</span>
                                            <span class="icon icon-check"></span>
                                        </a>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Stroller Bundle with Black Frame</a>
                                    <span class="price">$499.00</span>
                                    <ul class="list-color-product">
                                        <li class="list-color-item color-swatch active">
                                            <span class="tooltip">Black</span>
                                            <span class="swatch-value bg_dark"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-black3.jpg" src="/statc/images/products/stroller-baby-black3.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Pastel Brown</span>
                                            <span class="swatch-value bg_pastel-brown"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-brown.jpg" src="/statc/images/products/stroller-baby-brown.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Pink</span>
                                            <span class="swatch-value bg_pink"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-pink.jpg" src="/statc/images/products/stroller-baby-pink.jpg" alt="image-product">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="card-product">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img class="lazyload img-product" data-src="/statc/images/products/stroller-baby-yellow.jpg" src="/statc/images/products/stroller-baby-yellow.jpg" alt="image-product">
                                        <img class="lazyload img-hover" data-src="/statc/images/products/stroller-baby-black4.jpg" src="/statc/images/products/stroller-baby-black4.jpg" alt="image-product">
                                    </a>
                                    <div class="list-product-btn absolute-2">
                                        <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                            <span class="icon icon-bag"></span>
                                            <span class="tooltip">Quick Add</span>
                                        </a>
                                        <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </a>
                                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                            <span class="icon icon-compare"></span>
                                            <span class="tooltip">Add to Compare</span>
                                            <span class="icon icon-check"></span>
                                        </a>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Stokke X Baby Stroller</a>
                                    <span class="price">$1,199.00</span>
                                    <ul class="list-color-product">
                                        <li class="list-color-item color-swatch active">
                                            <span class="tooltip">Yellow</span>
                                            <span class="swatch-value bg_yellow-4"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-yellow.jpg" src="/statc/images/products/stroller-baby-yellow.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Black</span>
                                            <span class="swatch-value bg_dark"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-black4.jpg" src="/statc/images/products/stroller-baby-black4.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Grey</span>
                                            <span class="swatch-value bg_grey"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-grey.jpg" src="/statc/images/products/stroller-baby-grey.jpg" alt="image-product">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" lazy="true">
                            <div class="card-product">
                                <div class="card-product-wrapper">
                                    <a href="product-detail.html" class="product-img">
                                        <img class="lazyload img-product" data-src="/statc/images/products/stroller-baby-black5.jpg" src="/statc/images/products/stroller-baby-black5.jpg" alt="image-product">
                                        <img class="lazyload img-hover" data-src="/statc/images/products/stroller-baby-beige.jpg" src="/statc/images/products/stroller-baby-beige.jpg" alt="image-product">
                                    </a>
                                    <div class="list-product-btn absolute-2">
                                        <a href="#quick_add" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                            <span class="icon icon-bag"></span>
                                            <span class="tooltip">Quick Add</span>
                                        </a>
                                        <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                            <span class="icon icon-heart"></span>
                                            <span class="tooltip">Add to Wishlist</span>
                                            <span class="icon icon-delete"></span>
                                        </a>
                                        <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                            <span class="icon icon-compare"></span>
                                            <span class="tooltip">Add to Compare</span>
                                            <span class="icon icon-check"></span>
                                        </a>
                                        <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                            <span class="icon icon-view"></span>
                                            <span class="tooltip">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-product-info">
                                    <a href="product-detail.html" class="title link">Sand Jogging Baby Stroller</a>
                                    <span class="price">$399.00</span>
                                    <ul class="list-color-product">
                                        <li class="list-color-item color-swatch active">
                                            <span class="tooltip">Black</span>
                                            <span class="swatch-value bg_dark"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-black5.jpg" src="/statc/images/products/stroller-baby-black5.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Beige</span>
                                            <span class="swatch-value bg_beige"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-beige.jpg" src="/statc/images/products/stroller-baby-beige.jpg" alt="image-product">
                                        </li>
                                        <li class="list-color-item color-swatch">
                                            <span class="tooltip">Dark Blue</span>
                                            <span class="swatch-value bg_dark-blue"></span>
                                            <img class="lazyload" data-src="/statc/images/products/stroller-baby-darkblue.jpg" src="/statc/images/products/stroller-baby-darkblue.jpg" alt="image-product">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Best Seller -->
        <!-- Section tab -->
        <section class="flat-spacing-23 pt_0">
            <div class="container">
                <div class="flat-tab-store flat-animate-tab">
                    <ul class="widget-tab-2" role="tablist">
                        <li class="nav-tab-item" role="presentation">
                            <a href="#durability" class="active" data-bs-toggle="tab">Durability</a>
                        </li>
                        <li class="nav-tab-item" role="presentation">
                            <a href="#innovation" data-bs-toggle="tab">Innovation</a>
                        </li>
                        <li class="nav-tab-item" role="presentation">
                            <a href="#responsibility" data-bs-toggle="tab">Responsibility</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active show" id="durability" role="tabpanel">
                            <div class="widget-card-store bg_grey-10 radius-10 o-hidden type-2 align-items-center tf-grid-layout md-col-2">
                                <div class="store-item-info">
                                    <h5 class="store-heading">Unrivalled engineering</h5>
                                    <div class="description">
                                        <div>Award-winning designs, engineered and tested to keep going for</div>
                                        <div>generations.</div>
                                    </div>
                                    <a href="shop-default.html" class="tf-btn btn-fill style-2 radius-60 animate-hover-btn">Discover more</a>
                                </div>
                                <div class="store-img">
                                    <img class="lazyload" data-src="/statc/images/shop/store/ourstore-stroller.jpg" src="/statc/images/shop/store/ourstore-stroller.jpg" alt="store-img">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="innovation" role="tabpanel">
                            <div class="widget-card-store bg_grey-10 radius-10 o-hidden type-2 align-items-center tf-grid-layout md-col-2">
                                <div class="store-item-info">
                                    <h5 class="store-heading">Where Fresh Ideas<br class="d-xl-block d-none">come to Life </h5>
                                    <div class="description">
                                        <div>Immerse yourself in a creative space where every step </div>
                                        <div>is an adventure of innovation.</div>
                                    </div>
                                    <a href="shop-default.html" class="tf-btn btn-fill style-2 radius-60 animate-hover-btn">Discover more</a>
                                </div>
                                <div class="store-img">
                                    <img class="lazyload" data-src="/statc/images/shop/store/ourstore-stroller2.jpg" src="/statc/images/shop/store/ourstore-stroller2.jpg" alt="store-img">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="responsibility" role="tabpanel">
                            <div class="widget-card-store bg_grey-10 radius-10 o-hidden type-2 align-items-center tf-grid-layout md-col-2">
                                <div class="store-item-info">
                                    <h5 class="store-heading">Shaping a Better<br class="d-xl-block d-none">Tomorrow Together. </h5>
                                    <div class="description">
                                        <div>In a world where every action matters, let's embrace the </div>
                                        <div>power of responsibility</div>
                                    </div>
                                    <a href="shop-default.html" class="tf-btn btn-fill style-2 radius-60 animate-hover-btn">Discover more</a>
                                </div>
                                <div class="store-img">
                                    <img class="lazyload" data-src="/statc/images/shop/store/ourstore-stroller3.jpg" src="/statc/images/shop/store/ourstore-stroller3.jpg" alt="store-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Section tab -->
        <!-- Faqs section -->
        <section class="flat-spacing-5 pt_0">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4">
                        <h4>Frequently asked questions </h4>
                    </div>
                    <div class="col-xl-8">
                        <div class="flat-accordion style-default has-btns-arrow">
                            <div class="flat-toggle active">
                                <div class="toggle-title active">How do I choose the perfect stroller for my family?</div>
                                <div class="toggle-content">
                                    <p class="text_black-3">
                                        Cestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat
                                        euismod orci, ac placerat dolor lectus quis orci. Aenean ut eros et nisl sagittis vestibulum. Phasellus dolor. Sed libero. Phasellus ullamcorper ipsum rutrum nunc.Curabitur ullamcorper ultricies nisi. Suspendisse potenti. Suspendisse faucibus, nunc et pellentesque egestas, lacus ante convallis tellus, vitae iaculis lacus elit id tortor.
                                    </p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <div class="toggle-title">How much is shipping and how long will it take?</div>
                                <div class="toggle-content">
                                    <p class="text_black-3">To provide specific details about shipping costs and delivery times, I would need more information such as the origin and destination locations, the shipping method, and the item being shipped. Once I have those details, I can accurately estimate the shipping cost and delivery time for you.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <div class="toggle-title">How long will it take to get my package?</div>
                                <div class="toggle-content">
                                    <p class="text_black-3">The delivery time for a package depends on the shipping method, origin and destination, carrier workload, and whether it's a domestic or international shipment. Generally, domestic packages can take 3-7 business days, while international can range from 10-20 days. For the most accurate estimate, it's best to consult the carrier with your tracking number.</p>
                                </div>
                            </div>
                            <div class="flat-toggle">
                                <div class="toggle-title">Branding is simply a more efficient way to sell things?</div>
                                <div class="toggle-content">
                                    <p class="text_black-3">randing is about building trust, loyalty, and emotional connection with customers. It helps companies stand out, establish a reputation, and create a lasting legacy. While it can make it easier to sell products, it's important to recognize the broader benefits of building a strong brand.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Faqs section -->
        <!-- Testimonial -->
        <section class="flat-spacing-5 pt_0">
            <div class="container">
                <div class="wrapper-thumbs-testimonial-v2 flat-thumbs-testimonial flat-thumbs-testimonial-v2 bg-gradient-2">
                    <div class="box-left">
                        <div dir="ltr" class="swiper tf-sw-tes-2" data-preview="1" data-space-lg="40" data-space-md="30">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="31" viewBox="0 0 46 31" fill="none">
                                                <path d="M32.4413 30.5L37.8204 19.9545L38.1913 19.2273H37.375H26.375V0.5H45.5V19.6071L39.9438 30.5H32.4413ZM6.56633 30.5L11.9454 19.9545L12.3163 19.2273H11.5H0.5V0.5H19.625V19.6071L14.0688 30.5H6.56633Z" stroke="#B5B5B5"></path>
                                            </svg>
                                        </div>
                                        <div class="heading fs-14 mb_18 text-white">OUR CUSTOMER'S RAVE REVIEWS</div>
                                        <div class="rating">
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                        </div>
                                        <p class="text text-white">
                                            I'm impressed with the durability of the furniture collection. Even after years of use, the pieces still look and feel as good as new
                                        </p>
                                        <div class="author box-author">
                                            <div class="box-img d-md-none">
                                                <img class="lazyload img-product" data-src="/statc/images/slider/stroller-testi1.jpg" src="/statc/images/slider/stroller-testi1.jpg" alt="image-product">
                                            </div>
                                            <div class="content">
                                                <div class="name text-white fw-6">Robert Smith</div>
                                                <a href="product-detail.html" class="metas link text-white">Purchase item : <span class="fw-6"> Racing Tricycle Baby Stroller</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonial-item">
                                        <div class="icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="46" height="31" viewBox="0 0 46 31" fill="none">
                                                <path d="M32.4413 30.5L37.8204 19.9545L38.1913 19.2273H37.375H26.375V0.5H45.5V19.6071L39.9438 30.5H32.4413ZM6.56633 30.5L11.9454 19.9545L12.3163 19.2273H11.5H0.5V0.5H19.625V19.6071L14.0688 30.5H6.56633Z" stroke="#B5B5B5"></path>
                                            </svg>
                                        </div>
                                        <div class="heading fs-14 mb_18 text-white">UR CUSTOMER'S RAVE REVIEWS</div>
                                        <div class="rating">
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                            <i class="text_white icon-star"></i>
                                        </div>
                                        <p class="text text-white">
                                            Exceptional quality at a fraction of the price you would pay for big brands. Very elegant, discreet and beautiful materials.
                                        </p>
                                        <div class="author box-author">
                                            <div class="box-img d-md-none">
                                                <img class="lazyload img-product" data-src="/statc/images/slider/stroller-testi1.jpg" src="/statc/images/slider/stroller-testi1.jpg" alt="image-product">
                                            </div>
                                            <div class="content">
                                                <div class="name text-white fw-6">Robert Smith</div>
                                                <a href="product-detail.html" class="metas link text-white">Purchase item : <span class="fw-6"> Baby Stroller with Ride-Along Board</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-md-flex d-none box-sw-navigation">
                            <div class="nav-sw nav-next-slider line-white nav-next-tes-2"><span class="icon icon-arrow-left"></span></div>
                            <div class="nav-sw nav-prev-slider line-white nav-prev-tes-2"><span class="icon icon-arrow-right"></span></div>
                        </div>
                        <div class="d-md-none sw-dots style-2 dots-white sw-pagination-tes-2"></div>
                    </div>
                    <div class="box-right">
                        <div dir="ltr" class="swiper tf-thumb-tes" data-preview="1" data-space="30">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="box-img item-2 hover-img radius-10 o-hidden">
                                        <div class="img-style">
                                            <img class="lazyload" data-src="/statc/images/slider/stroller-testi1.jpg" src="/statc/images/slider/stroller-testi1.jpg" alt="img-slider">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="box-img item-2 hover-img radius-10 o-hidden">
                                        <div class="img-style">
                                            <img class="lazyload" data-src="/statc/images/slider/stroller-testi2.jpg" src="/statc/images/slider/stroller-testi2.jpg" alt="img-slider">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Testimonial -->
        <!-- Footer -->
        {% endblock %}
