
{% extends "base\base.html" %}
{% load static %}
{% block body %}
        <!-- Slider -->
        <div class="tf-slideshow slider-effect-fade position-relative">
            <div dir="ltr" class="swiper tf-sw-slideshow" data-preview="1" data-tablet="1" data-mobile="1" data-centered="false" data-space="0" data-loop="true" data-auto-play="false" data-delay="0" data-speed="1000">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="wrap-slider">
                            <img src="/statc/images/slider/dog-1.png" alt="fashion-slideshow">
                            <div class="box-content">
                                <div class="container">
                                    <p class="fade-item fade-item-1 fw-8 mb_15">BEST DOG ACCESSORIES</p>
                                    <h1 class="fade-item fade-item-2">Put your<br> best paw forward</h1>
                                    <a href="shop-default.html" class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap-slider">
                            <img src="/statc/images/slider/dog-2.jpg" alt="fashion-slideshow">
                            <div class="box-content">
                                <div class="container">
                                    <p class="fade-item fade-item-1 fw-8 mb_15">NEW DROP!</p>
                                    <h1 class="fade-item fade-item-2">Upgrade Playtime</h1>
                                    <a href="shop-default.html" class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="wrap-slider">
                            <img src="/statc/images/slider/dog-3.jpg" alt="fashion-slideshow">
                            <div class="box-content">
                                <div class="container">
                                    <p class="fade-item fade-item-1 fw-8 mb_15">20% SALE OFF</p>
                                    <h1 class="fade-item fade-item-2">Stripe Tee <br>  Rust and Ivory</h1>
                                    <a href="shop-default.html" class="fade-item fade-item-3 tf-btn btn-fill animate-hover-btn btn-xl radius-3"><span>SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-pagination">
                <div class="container">
                    <div class="sw-dots sw-pagination-slider rectangle-pagination justify-content-center"></div>
                </div>
            </div>
        </div>
        <!-- /Slider -->
        <!-- text-image -->
        <section class="flat-spacing-24">
            <div class="container">
                <div class="tf-grid-layout md-col-2 tf-img-with-text img-text-3">
                    <div class="tf-image wow fadeInUp" data-wow-delay="0s">
                        <div class="grid-img-group">
                            <div class="box-img item-1 hover-img tf-image-wrap">
                                <div class="img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/dog-1.jpg" src="/statc/images/collections/dog-1.jpg" alt="img-slider">
                                </div>
                            </div>
                            <div class="box-img item-2 hover-img tf-image-wrap">
                                <div class="img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/dog-2.jpg" src="/statc/images/collections/dog-2.jpg" alt="img-slider">
                                </div>
                            </div>
                            <div class="box-img item-3 hover-img tf-image-wrap">
                                <div class="img-style">
                                    <img class="lazyload" data-src="/statc/images/collections/dog-3.jpg" src="/statc/images/collections/dog-3.jpg" alt="img-slider">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tf-content-wrap wow fadeInUp" data-wow-delay="0s">
                        <h2 class="heading fade-item fade-item-1">Designs for Modern <br class="d-none d-xl-block"> Pet Parents</h2>
                        <p class="desc fade-item fade-item-2">We connect pets and their people through thoughtful, functional design that makes morning walks, subway commutes, and park visits simpler and more joyful.</p>
                        <a href="shop-default.html" class="tf-btn btn-line letter-spacing-1 fw-6">SHOP COLLECTION</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /text-image -->
        <!-- Best seller -->
        <section class="flat-spacing-9 pt_0">
            <div class="container">
                <div class="flat-title flex-row justify-content-between px-0">
                    <span class="title wow fadeInUp" data-wow-delay="0s">Best Seller</span>
                    <div class="box-sw-navigation">
                        <div class="nav-sw square nav-next-slider nav-next-product"><span class="icon icon-arrow1-left"></span></div>
                        <div class="nav-sw square nav-prev-slider nav-prev-product"><span class="icon icon-arrow1-right"></span></div>
                    </div>
                </div>
                <div class="hover-sw-nav hover-sw-2">
                    <div dir="ltr" class="swiper tf-sw-product-sell wrap-sw-over" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="15" data-pagination="2" data-pagination-md="3" data-pagination-lg="3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" lazy="true">
                                <div class="card-product style-2">
                                    <div class="card-product-wrapper">
                                        <a href="product-detail.html" class="product-img">
                                            <img class="lazyload img-product" data-src="/statc/images/products/dog-1.jpg" src="/statc/images/products/dog-1.jpg" alt="image-product">
                                            <img class="lazyload img-hover" data-src="/statc/images/products/dog-2.jpg" src="/statc/images/products/dog-2.jpg" alt="image-product">
                                        </a>
                                        <div class="list-product-btn absolute-2">
                                            <a href="#shoppingCart" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                                <span class="icon icon-bag"></span>
                                                <span class="tooltip">Add to cart</span>
                                            </a>
                                            <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                                <span class="icon icon-heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                                <span class="icon icon-delete"></span>
                                            </a>
                                            <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                                <span class="icon icon-compare"></span>
                                                <span class="tooltip">Add to Compare</span>
                                                <span class="icon icon-check"></span>
                                            </a>
                                            <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                                <span class="icon icon-view"></span>
                                                <span class="tooltip">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product-info">
                                        <a href="product-detail.html" class="title link">Cushioned Dog Harness Moonstone</a>
                                        <span class="price">$16.95</span>
                                        <ul class="list-color-product">
                                            <li class="list-color-item color-swatch active">
                                                <span class="tooltip">Black</span>
                                                <span class="swatch-value bg_dark"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-1.jpg" src="/statc/images/products/dog-1.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Pink</span>
                                                <span class="swatch-value bg_pink"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-2.jpg" src="/statc/images/products/dog-2.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Green</span>
                                                <span class="swatch-value bg_light-green"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-3.jpg" src="/statc/images/products/dog-3.jpg" alt="image-product">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="card-product style-2">
                                    <div class="card-product-wrapper">
                                        <a href="product-detail.html" class="product-img">
                                            <img class="lazyload img-product" data-src="/statc/images/products/dog-4.jpg" src="/statc/images/products/dog-4.jpg" alt="image-product">
                                            <img class="lazyload img-hover" data-src="/statc/images/products/dog-5.jpg" src="/statc/images/products/dog-5.jpg" alt="image-product">
                                        </a>
                                        <div class="list-product-btn absolute-2">
                                            <a href="#shoppingCart" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                                <span class="icon icon-bag"></span>
                                                <span class="tooltip">Add to cart</span>
                                            </a>
                                            <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                                <span class="icon icon-heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                                <span class="icon icon-delete"></span>
                                            </a>
                                            <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                                <span class="icon icon-compare"></span>
                                                <span class="tooltip">Add to Compare</span>
                                                <span class="icon icon-check"></span>
                                            </a>
                                            <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                                <span class="icon icon-view"></span>
                                                <span class="tooltip">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product-info">
                                        <a href="product-detail.html" class="title link">Stripe Tee Rust and Ivory</a>
                                        <span class="price">$41.00</span>
                                        <ul class="list-color-product">
                                            <li class="list-color-item color-swatch active">
                                                <span class="tooltip">Black</span>
                                                <span class="swatch-value bg_dark"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-4.jpg" src="/statc/images/products/dog-4.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Green</span>
                                                <span class="swatch-value bg_light-green"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-5.jpg" src="/statc/images/products/dog-5.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Red</span>
                                                <span class="swatch-value bg_red"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-6.jpg" src="/statc/images/products/dog-6.jpg" alt="image-product">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="card-product style-2">
                                    <div class="card-product-wrapper">
                                        <a href="product-detail.html" class="product-img">
                                            <img class="lazyload img-product" data-src="/statc/images/products/dog-7.jpg" src="/statc/images/products/dog-7.jpg" alt="image-product">
                                            <img class="lazyload img-hover" data-src="/statc/images/products/dog-8.jpg" src="/statc/images/products/dog-8.jpg" alt="image-product">
                                        </a>
                                        <div class="list-product-btn absolute-2">
                                            <a href="#shoppingCart" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                                <span class="icon icon-bag"></span>
                                                <span class="tooltip">Add to cart</span>
                                            </a>
                                            <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                                <span class="icon icon-heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                                <span class="icon icon-delete"></span>
                                            </a>
                                            <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                                <span class="icon icon-compare"></span>
                                                <span class="tooltip">Add to Compare</span>
                                                <span class="icon icon-check"></span>
                                            </a>
                                            <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                                <span class="icon icon-view"></span>
                                                <span class="tooltip">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product-info">
                                        <a href="product-detail.html" class="title link">Hooman Nosework Toy Love</a>
                                        <span class="price">$17.00</span>
                                        <ul class="list-color-product">
                                            <li class="list-color-item color-swatch active">
                                                <span class="tooltip">Dark Green</span>
                                                <span class="swatch-value bg_dark-green"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-7.jpg" src="/statc/images/products/dog-7.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Blue</span>
                                                <span class="swatch-value bg_light-blue"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-8.jpg" src="/statc/images/products/dog-8.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Red</span>
                                                <span class="swatch-value bg_red"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-9.jpg" src="/statc/images/products/dog-9.jpg" alt="image-product">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="card-product style-2">
                                    <div class="card-product-wrapper">
                                        <a href="product-detail.html" class="product-img">
                                            <img class="lazyload img-product" data-src="/statc/images/products/dog-10.jpg" src="/statc/images/products/dog-10.jpg" alt="image-product">
                                            <img class="lazyload img-hover" data-src="/statc/images/products/dog-11.jpg" src="/statc/images/products/dog-11.jpg" alt="image-product">
                                        </a>
                                        <div class="list-product-btn absolute-2">
                                            <a href="#shoppingCart" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                                <span class="icon icon-bag"></span>
                                                <span class="tooltip">Add to cart</span>
                                            </a>
                                            <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                                <span class="icon icon-heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                                <span class="icon icon-delete"></span>
                                            </a>
                                            <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                                <span class="icon icon-compare"></span>
                                                <span class="tooltip">Add to Compare</span>
                                                <span class="icon icon-check"></span>
                                            </a>
                                            <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                                <span class="icon icon-view"></span>
                                                <span class="tooltip">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product-info">
                                        <a href="product-detail.html" class="title link">The Scot Collar Mint</a>
                                        <span class="price">$56.00</span>
                                        <ul class="list-color-product">
                                            <li class="list-color-item color-swatch active">
                                                <span class="tooltip">Yellow</span>
                                                <span class="swatch-value bg_yellow"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-10.jpg" src="/statc/images/products/dog-10.jpg" alt="image-product">
                                            </li>
                                            <li class="list-color-item color-swatch">
                                                <span class="tooltip">Light Blue</span>
                                                <span class="swatch-value bg_light-blue"></span>
                                                <img class="lazyload" data-src="/statc/images/products/dog-11.jpg" src="/statc/images/products/dog-11.jpg" alt="image-product">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="card-product style-2">
                                    <div class="card-product-wrapper">
                                        <a href="product-detail.html" class="product-img">
                                            <img class="lazyload img-product" data-src="/statc/images/products/dog-12.jpg" src="/statc/images/products/dog-12.jpg" alt="image-product">
                                            <img class="lazyload img-hover" data-src="/statc/images/products/dog-13.jpg" src="/statc/images/products/dog-13.jpg" alt="image-product">
                                        </a>
                                        <div class="list-product-btn absolute-2">
                                            <a href="#shoppingCart" data-bs-toggle="modal" class="box-icon bg_white quick-add tf-btn-loading">
                                                <span class="icon icon-bag"></span>
                                                <span class="tooltip">Add to cart</span>
                                            </a>
                                            <a href="javascript:void(0);" class="box-icon bg_white wishlist btn-icon-action">
                                                <span class="icon icon-heart"></span>
                                                <span class="tooltip">Add to Wishlist</span>
                                                <span class="icon icon-delete"></span>
                                            </a>
                                            <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft" class="box-icon bg_white compare btn-icon-action">
                                                <span class="icon icon-compare"></span>
                                                <span class="tooltip">Add to Compare</span>
                                                <span class="icon icon-check"></span>
                                            </a>
                                            <a href="#quick_view" data-bs-toggle="modal" class="box-icon bg_white quickview tf-btn-loading">
                                                <span class="icon icon-view"></span>
                                                <span class="tooltip">Quick View</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-product-info">
                                        <a href="product-detail.html" class="title link">Buffalo Bow Tie</a>
                                        <span class="price">$45.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-sw nav-next-slider nav-next-product box-icon w_46 round"><span class="icon icon-arrow-left"></span></div>
                    <div class="nav-sw nav-prev-slider nav-prev-product box-icon w_46 round"><span class="icon icon-arrow-right"></span></div>
                </div>
            </div>
        </section>
        <!-- /Best seller -->
        <!-- Shop Collection -->
        <section class="flat-spacing-27 pt_0">
            <div class="container">
                <div class="tf-grid-layout gap-0 md-col-2 bg_f1f6e6 tf-img-with-text style-5">
                    <div class="tf-image-wrap wow fadeInUp" data-wow-delay="0s">
                        <img class="lazyload" data-src="/statc/images/collections/dog-9.jpg" src="/statc/images/collections/dog-9.jpg" alt="collection-img">
                    </div>
                    <div class="tf-content-wrap wow fadeInUp" data-wow-delay="0s">
                        <div class="sub-heading fw-7">END OF SEASON SALE</div>
                        <div class="heading">60% Discount</div>
                        <p class="description text_black-2">Limited availability on remaining sizes - get your hands on one at an unbeatable price while you can.</p>
                        <div class="count-down">
                            <div class="description"><strong>Hungry up ! </strong>Deals end in :</div>
                            <div class="tf-countdown-v2">
                                <div class="js-countdown" data-timer="8007500" data-labels="Days,Hours,Mins,Secs"></div>
                            </div>
                        </div>
                        <a href="shop-collection-list.html" class="tf-btn style-2 btn-fill radius-3 animate-hover-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Shop Collection -->
        <!-- Shop Collection -->
        <section class="flat-spacing-27 pt_0 has-line-bottom">
            <div class="container">
                <div class="tf-grid-layout md-col-2 tf-img-with-text">
                    <div class="tf-image-wrap radius-10 wow fadeInUp" data-wow-delay="0s">
                        <img class="lazyload" data-src="/statc/images/collections/dog-4.jpg" src="/statc/images/collections/dog-4.jpg" alt="collection-img">
                    </div>
                    <div class="tf-content-wrap place-self-center wow fadeInUp" data-wow-delay="0s">
                        <div class="heading">Perfect Gift For Every <br> Dog Parent</div>
                        <p class="description">Select the amount you would like to give and your <br class="d-none d-xl-block"> gift card will be delivered via email following purchase.</p>
                        <a href="shop-collection-list.html" class="tf-btn style-2 btn-fill radius-3 animate-hover-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Shop Collection -->
         <!-- categories -->
         <section class="flat-spacing-1">
            <div class="container">
                <div class="flat-title flex-row justify-content-center px-0">
                    <span class="title wow fadeInUp" data-wow-delay="0s">Shop by categories</span>
                </div>
                <div class="hover-sw-nav hover-sw-2">
                    <div dir="ltr" class="swiper tf-sw-product-sell-1 wrap-sw-over" data-preview="4" data-tablet="3" data-mobile="2" data-space-lg="30" data-space-md="15" data-pagination="2" data-pagination-md="3" data-pagination-lg="3">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item hover-img style-2">
                                    <div class="collection-inner">
                                        <a href="shop-collection-sub.html" class="collection-image img-style radius-10">
                                            <img class="lazyload" data-src="/statc/images/collections/dog-5.jpg" src="/statc/images/collections/dog-5.jpg" alt="collection-img">
                                        </a>
                                        <div class="collection-content justify-content-end align-items-center">
                                            <div class="bottom">
                                                <a href="shop-collection-sub.html" class="tf-btn collection-title hover-icon btn-light radius-3"><span>WALK</span><i class="icon icon-arrow1-top-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item hover-img style-2">
                                    <div class="collection-inner">
                                        <a href="shop-collection-sub.html" class="collection-image img-style radius-10">
                                            <img class="lazyload" data-src="/statc/images/collections/dog-6.jpg" src="/statc/images/collections/dog-6.jpg" alt="collection-img">
                                        </a>
                                        <div class="collection-content justify-content-end align-items-center">
                                            <div class="bottom">
                                                <a href="shop-collection-sub.html" class="tf-btn collection-title hover-icon btn-light radius-3"><span>CARRY</span><i class="icon icon-arrow1-top-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item hover-img style-2">
                                    <div class="collection-inner">
                                        <a href="shop-collection-sub.html" class="collection-image img-style radius-10">
                                            <img class="lazyload" data-src="/statc/images/collections/dog-7.jpg" src="/statc/images/collections/dog-7.jpg" alt="collection-img">
                                        </a>
                                        <div class="collection-content justify-content-end align-items-center">
                                            <div class="bottom">
                                                <a href="shop-collection-sub.html" class="tf-btn collection-title hover-icon btn-light radius-3"><span>TOYS</span><i class="icon icon-arrow1-top-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item hover-img style-2">
                                    <div class="collection-inner">
                                        <a href="shop-collection-sub.html" class="collection-image img-style radius-10">
                                            <img class="lazyload" data-src="/statc/images/collections/dog-8.jpg" src="/statc/images/collections/dog-8.jpg" alt="collection-img">
                                        </a>
                                        <div class="collection-content justify-content-end align-items-center">
                                            <div class="bottom">
                                                <a href="shop-collection-sub.html" class="tf-btn collection-title hover-icon btn-light radius-3"><span>HOME</span><i class="icon icon-arrow1-top-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" lazy="true">
                                <div class="collection-item hover-img style-2">
                                    <div class="collection-inner">
                                        <a href="shop-collection-sub.html" class="collection-image img-style radius-10">
                                            <img class="lazyload" data-src="/statc/images/collections/dog-6.jpg" src="/statc/images/collections/dog-6.jpg" alt="collection-img">
                                        </a>
                                        <div class="collection-content justify-content-end align-items-center">
                                            <div class="bottom">
                                                <a href="shop-collection-sub.html" class="tf-btn collection-title hover-icon btn-light radius-3"><span>CARRY</span><i class="icon icon-arrow1-top-left"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-sw nav-next-slider nav-next-sell-1 box-icon w_46 round"><span class="icon icon-arrow-left"></span></div>
                    <div class="nav-sw nav-prev-slider nav-prev-sell-1 box-icon w_46 round"><span class="icon icon-arrow-right"></span></div>
                </div>
            </div>
        </section>
        <!-- /categories -->
        <!-- lookbook -->
        <section>
            <div class="container">
                <div class="wrap-lookbook lookbook-dog">
                    <div class="image radius-10 o-hidden">
                        <img class="lazyload" data-src="/statc/images/shop/file/lookbook-10.jpg" src="/statc/images/shop/file/lookbook-10.jpg" alt="image-lookbook">
                    </div>
                    <div class="lookbook-item item-1">
                        <div class="inner">
                            <div class="btn-group dropdown dropup dropdown-center">
                                <button class="tf-pin-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu p-0 border-0">
                                    <li>
                                        <div class="lookbook-product">
                                            <a href="product-detail.html" class="image">
                                                <img class="lazyload" data-src="/statc/images/item/pr1.jpg" src="/statc/images/item/pr1.jpg" alt="lookbook-item">
                                            </a>
                                            <div class="content-wrap">
                                                <div class="product-title">
                                                    <a href="product-detail.html">Stripe Tee Rust and Ivory</a>
                                                </div>
                                                <div class="price">$41.00</div>
                                            </div>
                                            <a href="#quick_view" data-bs-toggle="modal" class=""><i class="icon-view"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lookbook-item item-2">
                        <div class="inner">
                            <div class="btn-group dropdown dropup dropdown-center">
                                <button class="tf-pin-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu p-0 border-0">
                                    <li>
                                        <div class="lookbook-product">
                                            <a href="product-detail.html" class="image">
                                                <img class="lazyload" data-src="/statc/images/item/pr7.jpg" src="/statc/images/item/pr7.jpg" alt="">
                                            </a>
                                            <div class="content-wrap">
                                                <div class="product-title">
                                                    <a href="product-detail.html">Cushioned Dog Harness Moonstone</a>
                                                </div>
                                                <div class="price">$48.00</div>
                                            </div>
                                            <a href="#quick_view" data-bs-toggle="modal" class=""><i class="icon-view"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lookbook-item item-3">
                        <div class="inner">
                            <div class="btn-group dropdown dropup dropdown-center">
                                <button class="tf-pin-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span></span>
                                </button>
                                <ul class="dropdown-menu p-0 border-0">
                                    <li>
                                        <div class="lookbook-product">
                                            <a href="product-detail.html" class="image">
                                                <img class="lazyload" data-src="/statc/images/item/pr10.jpg" src="/statc/images/item/pr10.jpg" alt="">
                                            </a>
                                            <div class="content-wrap">
                                                <div class="product-title">
                                                    <a href="product-detail.html">The Scot Collar Mint</a>
                                                </div>
                                                <div class="price">$56.00</div>
                                            </div>
                                            <a href="#quick_view" data-bs-toggle="modal" class=""><i class="icon-view"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- lookbook -->
        <!-- Icon box -->
        <section class="flat-spacing-27 flat-iconbox wow fadeInUp" data-wow-delay="0s">
            <div class="container">
                <div class="wrap-carousel wrap-mobile">
                    <div dir="ltr" class="swiper tf-sw-mobile" data-preview="1" data-space="15">
                        <div class="swiper-wrapper wrap-iconbox">
                            <div class="swiper-slide">
                                <div class="tf-icon-box style-border-line text-center">
                                    <div class="icon">
                                        <i class="icon-shipping"></i>
                                    </div>
                                    <div class="content">
                                        <div class="title">Free Shipping</div>
                                        <p>Free shipping over order $120</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tf-icon-box style-border-line text-center">
                                    <div class="icon">
                                        <i class="icon-payment fs-22"></i>
                                    </div>
                                    <div class="content">
                                        <div class="title">Flexible Payment</div>
                                        <p>Pay with Multiple Credit Cards</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tf-icon-box style-border-line text-center">
                                    <div class="icon">
                                        <i class="icon-return fs-22"></i>
                                    </div>
                                    <div class="content">
                                        <div class="title">14 Day Returns</div>
                                        <p>Within 30 days for an exchange</p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="tf-icon-box style-border-line text-center">
                                    <div class="icon">
                                        <i class="icon-suport"></i>
                                    </div>
                                    <div class="content">
                                        <div class="title">Premium Support</div>
                                        <p>Outstanding premium support</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="sw-dots style-2 sw-pagination-mb justify-content-center"></div>
                </div>
            </div>
        </section>
        <!-- /Icon box -->

        <!-- footer -->
      {% endblock %}
