{% extends "base\base.html" %}
{% load static %}
{% block body %}
        <!-- /header -->

        <!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center">Reset your password</div>
            </div>
        </div>
        <!-- /page-title -->

        <section class="flat-spacing-10">
            <div class="container">
                <div class="tf-grid-layout lg-col-2 tf-login-wrap">
                    <div class="tf-login-form">
                        <div id="">
                            <h5 class="mb_24">Reset your password</h5>
                            <p class="mb_30">We will send you an email to reset your password</p>
                            <div>
                                   {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                                <center><h6 style="color: firebrick;">{{message}}</h6></center>
                                            {% else %}
                                                <center><h6 style="color: dodgerblue;">{{message}}</h6></center>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                <form class="" id="" action="" method="post" accept-charset="utf-8" data-mailchimp="true">
                                  {% csrf_token %}
                                    <div class="tf-field style-1 mb_15">
                                        <input class="tf-field-input tf-input" placeholder="" type="email" id="" name="email">

                                        <label class="tf-field-label fw-4 text_black-2" for="property3">Email *</label>
                                    </div>
                                    <div class="mb_20">
                                        <a href="#login" class="tf-btn btn-line">Cancel</a>
                                    </div>
                                    <div class="">
                                        <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Reset password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="tf-login-content">
                            <h5 class="mb_36"></h5>
                            <p class="mb_20">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>
                            <a href="/account/register" class="tf-btn btn-line">Register<i class="icon icon-arrow1-top-left"></i></a>
                        </div>
                    </div>
                </div>
            </section>

                        {% endblock  %}
