{% extends "base\base.html" %}
{% load static %}
{% block body %}
        <!-- /header -->

        <!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center">Log in</div>
            </div>
        </div>
        <!-- /page-title -->

        <section class="flat-spacing-10">
            <div class="container">
                <div class="tf-grid-layout lg-col-2 tf-login-wrap">
                    <div class="tf-login-form">
                        <div id="login">
                            <h5 class="mb_36">Log in</h5>
                            <div>

                     {% if messages %}
                          {% for message in messages %}
                              {% if message.tags == 'error' %}
                                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
                              {% else %}
                                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                              {% endif %}
                          {% endfor %}
                      {% endif %}

                                <form class="" id="login-form" action="" method="POST" accept-charset="utf-8">
                                    {% csrf_token %}
                                    <div class="tf-field style-1 mb_15">
                                        <input class="tf-field-input tf-input" placeholder="" type="text" id="" name="username">
                                        <label class="tf-field-label fw-4 text_black-2" for="property3">username *</label>
                                    </div>
                                    <div class="tf-field style-1 mb_30">
                                        <input class="tf-field-input tf-input" placeholder="" type="password" id="" name="password">
                                        <label class="tf-field-label fw-4 text_black-2" for="property4">Password *</label>
                                    </div>
                                    <div class="mb_20">
                                        <a href="{% url 'forgot-password' %}" class="tf-btn btn-line">Forgot your password?</a>
                                    </div>
                                    <div class="">
                                        <button type="submit" class="tf-btn w-100 radius-3 btn-fill animate-hover-btn justify-content-center">Log in</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tf-login-content">
                        <h5 class="mb_36">I'm new here</h5>
                        <p class="mb_20">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>
                        <a href="/account/register" class="tf-btn btn-line">Register<i class="icon icon-arrow1-top-left"></i></a>
                    </div>
                </div>
            </div>
        </section>


      {%  endblock %}
