{% extends "base\base.html" %}
{% load static %}
{% block body %}
        <!-- /header -->

        <!-- page-title -->
        <div class="tf-page-title style-2">
            <div class="container-full">
                <div class="heading text-center">Reset your password</div>
            </div>
        </div>
        <!-- /page-title -->

        <section class="flat-spacing-10">
            <div class="container">
                <div class="tf-grid-layout lg-col-2 tf-login-wrap">
                    <div class="tf-login-form">
                        <div id="">
                            <h5 class="mb_24">Reset your password</h5>
                            <p class="mb_30">We will send you an email to reset your password</p>
                            <div>
                                <center>
                                    <div class="signup_link" style="padding: 10px;">A password reset link has been sent to your email. Please note that it <b>expires in 10 minutes</b>!</div>
                                </center>              
                        <div class="tf-login-content">
                            <h5 class="mb_36"></h5>
                            <p class="mb_20">Sign up for early Sale access plus tailored new arrivals, trends and promotions. To opt out, click unsubscribe in our emails.</p>
                            <a href="/account/register" class="tf-btn btn-line">Register<i class="icon icon-arrow1-top-left"></i></a>
                        </div>
                    </div>
                </div>
            </section>

                        {% endblock  %}
